.advantage__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantage__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0;
  width: 100%;
}

.advantage__item {
  text-align: center;
}
.advantage__item p {
  margin: 0;
  padding-bottom: 24px;
}

@media (min-width: @tablet-width) {
  .advantage__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 256px 256px;
  }
}

@media (min-width: @tablet-width) {
  .advantage__item--city {
    grid-column: ~"1 / 4";
    grid-row: ~"1 / 2";
  }
}

.advantage__item--city {
  background-color: @blue;
}

@media (min-width: @tablet-width) {
  .advantage__item--bridj {
    grid-column: ~"1 / 4";
    grid-row: ~"2 / 3";
  }
}

.advantage__item--bridj {
  background-color: @blue;
}

@media (min-width: @tablet-width) {
  .advantage__item--square {
    grid-column: ~"1 / 2";
    grid-row: ~"3 / 4";
  }
}
@media (min-width: @tablet-width) {
  .advantage__item--road {
    grid-column: ~"2 / 3";
    grid-row: ~"3 / 4";
  }
}
@media (min-width: @tablet-width) {
  .advantage__item--tourist {
    grid-column: ~"3 / 4";
    grid-row: ~"3 / 4";
  }
}
.advantage__item--tourist,
.advantage__item--road,
.advantage__item--square {
  border-top: 2px solid;
  border-color: #d6d6d6;

  padding: 26px 20px 0 20px;
  @media (min-width: @tablet-width) {
    padding: 66px 20px 0 20px;
    border: none;
  }
}

.advantage__title-subtitle {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.advantage__subject {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.advantage__subject {
  margin: 0;
  padding: 0;
}

.advantage__item--grey {
  background-color: @grey;
}
.advantage__content {
  width: 100%;
  padding: 0 20px 0 20px;
  height: 211px;
  color: @white;
  background-color: @blue;
  text-align: center;
  padding-top: 50px;
}

.advantage__inner {
  width: 100%;
}
.advantage__title {
  margin-left: 20px;
  margin-right: 40px;
}
.advantage__title-subtitle {
  margin-left: 20px;
  margin-right: 40px;
}
.advantage__item__row {
  @media (min-width: @tablet-width) {
    grid-column: ~"1 / 4";
    grid-row: ~"1 / 2";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.advantage__item--city .advantage__item__row::after {
  display: block;
  content: "";
  height: 256px;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column: ~"2/4";
  grid-row: ~"1/2";
  background-image: url("../img/photo-city@1x.png");
  background-size: @tablet-width 260px, cover;
}

.advantage__item--bridj .advantage__item__row::after {
  display: block;
  content: "";
  height: 256px;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column: ~"2/4";
  grid-row: ~"1/2";
  background-image: url("../img/photo-bridge@1x.png");
  background-size: @tablet-width 260px, cover;
}
.advantage__item--bridj .advantage__item__row {
  @media (min-width: @tablet-width) {
    order: 3;
  }
}
