.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  @media (min-width: @tablet-width) {
    margin: auto;
  }
}

.copyright__item {
  color: @black;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.copyright__link {
  margin: auto;
  margin-left: 10px;
}
