.header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
.header__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.page-main__header {
  text-transform: uppercase;
  text-align: center;
}
